<b> show </b>
<table>
<tr>
<td>ID</td>
<td>First-Name</td>
<td>Last-Name</td>
<td>Email-Address</td>
<td>Bio</td>

</tr>
<tr>
<td><%= @myUser.id %></td>
<td><%= @myUser.first_name %></td>
<td><%= @myUser.last_name %></td>
<td><%= @myUser.email %></td>
<td><%= @myUser.Bio %></td>



</tr>
</table>

<%= link_to "Edit User", :controller => "user", :action => "edit", :id => params[:id] %>